aiohttp
anthropic
beautifulsoup4
chromadb
dnspython
fastapi
fitz
html2text
langchain_anthropic
langchain_core
langchain_google_genai
langchain_openai
langdetect
langgraph
matplotlib
numpy
openai
openai_whisper
opencv_python
opencv_python_headless
Pillow
protobuf
pydantic
pydub
pytesseract
python-dotenv
pyzipper
qdrant_client
Requests
sentence_transformers
spacy
torch
torchvision
tqdm
urllib3
uvicorn
whisper
yt_dlp
