aiohttp==3.12.2
html2text==2025.4.15
langdetect==1.0.9
openai_whisper==20240930
opencv_python==4.11.0.86
opencv_python_headless==4.11.0.86
pytesseract==0.3.13
torch==2.7.0
tqdm==4.67.1
whisper==1.1.10
